.headName {
    margin-bottom: 2px;
}

.main {
    display: flex;
    margin-top: 1.1rem;
}

.active {
    color: #eee;
    font-size: 1.2erm;
    font-weight: bold;
}

.info {
    margin-left: 1.2rem;

}

a {
    position: relative;
    margin-bottom: 0.4rem;
}

a::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 5px;
    background-color: green;
    margin-top: -8px;
    margin-left: -17px;
}

.input {
    font-size: 20px;
    font-weight: bolder;
    color: green;
}

.input-group {
    width: 300px;
    margin-bottom: 10px;
}

.form-control:focus {

    box-shadow: 0 0 0 0.25rem rgba(37, 95, 3, 0.3);
    border-color: #177e1c;
}

.inISI {
    margin-top: 0.5rem;
}

.result {
    font-size: 20px;
    font-weight: bolder;
    color: #652;
    margin-top: 20px;
}

.resultName {
    font: 1.5rem bolder;
    margin-top: 0.9rem;

}

.spanres {
    height: 60px;
    width: 80px;
    font: 25px bolder;
    color: #652;
    border: 1px solid #ccc;
    margin-left: 20px;
    border-radius: 5px;
    padding-top: 15px;
}

.vldloutput,
.nonHdloutput {
    margin-top: 1rem;
}
.nr{
   color: #207905; 
   font-weight: 900;
}

.foottext {
    border-top: 3px solid green;
}

#Alaa {
    font-weight: bolder;
}